
.add-btn-container{
  position: absolute;
  bottom: 0px;
  display: flex;
  border: none;
  width: 100%;
  align-content: center;
}

.add-btn-content{
  flex-direction: column;
}

.add-btn {
  position: relative;
  left: 19%;
  border: none;
  cursor: pointer;
  outline: none;
}

