@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  #search-container{
    position: relative;
    top: 4em;
  }
}


/* Large Screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
  #search-container{
    position: relative;
    top: 6em;
  }
}

/* Extra Large Screen */
@media only screen and (min-width: 90.063em) { 
  #search-container{
    position: relative;
    top: 6em;
  }
} 