#search-container{
  position: relative;
  top: 13em;
  flex-direction: column;
  left: 10vw;
  width: 80vw;
}




/* Medium Screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  #search-container{
    position: relative;
    top: 4em;
    left: 25.5vw;
    width: 65vw;
  }
}


/* Large Screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
  #search-container{
    position: relative;
    top: 6em;
    left: 31.5vw;
    width: 50vw;
  }
}

/* Extra Large Screen */
@media only screen and (min-width: 90.063em) { 
  #search-container{
    position: relative;
    top: 6em;
    left: 30.5vw;
    width: 50vw;
  }
}  