/* Mobile */
#display-results-container{
    margin-left: 4.5em;
    margin-top: 1em;
    background-color: white;
    opacity: .9;
    height: 27em;
    width: 166px;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
} 

#left-arrow{
  position: fixed;
  left: 5%;
  top: 65%;
  color: white;
}

#right-arrow{
  position: fixed;
  right: 4%;
  top: 65%;
  color: white;
}
/* Medium Screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  #display-results-container{
      margin-left: 4em;
      height: 27em;
      width: 166px;
  } 

  #left-arrow{
    position: fixed;
    left: 14%;
    top: 92%;
    color: white;
  }
  
  #right-arrow{
    position: fixed;
    right: 71%;
    top: 92%;
    color: white;
  }
}



@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
  #display-results-container{
    margin-left: 4em;
    height: 27em;
    width: 166px;
  } 

  #left-arrow{
    position: fixed;
    left: 21%;
    top: 65%;
    color: white;
  }
  
  #right-arrow{
    position: fixed;
    right: 9%;
    top: 65%;
    color: white;
  }
}

/* Extra Large Screen */
@media only screen and (min-width: 90.063em) { 
  #display-results-container{
    margin-left: 4em;
    height: 27em;
    width: 166px;
} 

  #left-arrow{
    position: fixed;
    left: 21%;
    top: 65%;
    color: white;
  }

  #right-arrow{
    position: fixed;
    right: 9%;
    top: 65%;
    color: white;
  }
  
} 