/* Mobile */
#display-results-container{
    margin-left: 4.5em;
    margin-top: 1em;
    background-color: white;
    opacity: .9;
    height: 27em;
    width: 166px;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
} 

/* Medium Screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  #display-results-container{
      margin-left: 4em;
      height: 27em;
      width: 166px;
  } 
}



@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
  #display-results-container{
    margin-left: 4em;
    height: 27em;
    width: 166px;
  } 
}

/* Extra Large Screen */
@media only screen and (min-width: 90.063em) { 
  #display-results-container{
    margin-left: 4em;
    height: 27em;
    width: 166px;
} 
  
} 