/* Mobile */
#display-results-container{
  margin-left: 8em;
    background-color: #f0ead6;
    height: 27em;
    width: 166px;
    text-align: center;
} 

/* Medium Screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  #display-results-container{
    margin-left: 4em;
      background-color: #f0ead6;
      height: 27em;
      width: 166px;
      text-align: center;
  } 
}




