/* Mobile */
#load-spinner{
  height: 8vh;
  margin-top: 2em;
  padding-bottom: 4em;
}

/* Medium Screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  #load-spinner{
    height: 8vh;
    margin-top: 10em;
    padding-top: 4em;
  }
}


/* Large Screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
  #load-spinner{
    height: 8vh;
    margin-top: 7em;
    padding-bottom: 4em;
  }
}

/* Extra Large Screen */
@media only screen and (min-width: 90.063em) { 
  #load-spinner{
    height: 8vh;
    margin-top: 8em;
    padding-bottom: 4em;
  }
} 