
#menu-container{
  background-color: black;
  position: fixed;
  left: 0%;
  color: #FFFFF0;
  text-align: center;
  margin-bottom: 3em;
  width: 100%;
  top: 0%;
  flex-direction: column;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  #menu-container{
    width: 15%;
    height: 100%;
  }
}


/* Large Screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
  #menu-container{
    width: 15%;
    height: 100%;
  }
}

/* Extra Large Screen */
@media only screen and (min-width: 90.063em) { 
  #menu-container{
    width: 12%;
    height: 100%;
  }
}  
