/* body {
  position: relative;
} */

.main-div{
  width: 100%;
}

/* Mobile */
.single-view-container{
  position: relative;
  top: 12.5em;
  left: 3.75em;
  margin-left: 5em;
  background-color: #e6b208;
  width: 70%;
  text-align: center;
} 


/* Medium Screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  .single-view-container{
    position: relative;
    top: 28em;
    left: 13em;
    margin-left: 5em;
    background-color: #e6b208;
    width: 70%;
    text-align: center;
  }

  #single-view-content{
    padding-top: 3em;
  }
}


/* Large Screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
  .single-view-container{
    position: relative;
    top: 12em;
    left: 34em;
    margin-left: 5em;
    background-color: #e6b208;
    width: 40%;
    text-align: center;
  }

  #single-view-content{
    padding-top: 2.5em;
  }
  
}

/* Extra Large Screen */
@media only screen and (min-width: 90.063em) { 
  .single-view-container{
    position: relative;
    top: 20em;
    left: 44em;
    margin-left: 5em;
    background-color: #e6b208;
    width: 40%;
    text-align: center;
  }

  #single-view-content{
    padding-top: 2.5em;
  }
  
} 
